stages:
- build

build:
  stage: build
  script:
    - make test LOCAL_HOME=$RUNNER_HOME FLAVOR=ltr
    - make dist deliver
    - $FACTORY_SCRIPTS/trigger-ci $DOCKER_WPS_ID $DOCKER_WPS_TOKEN master
  environment:
    name: snap
  tags:
    - infrav3
  artifacts:
    reports:
        junit: tests/qywps_tests/__output__/junit.xml


