stages:
- test
- build
- docker
- deploy
- release

#-----------------
# Tests
#-----------------

tests:
  stage: test
  script:
    - make docker-test FLAVOR=release
  tags:
    - infrav3

#---------------
# Build
#---------------

build:
  stage: build
  script:
    - make dist deliver
  environment:
    name: snap
  only:
    refs:
      - qgis_release
  tags:
    - infrav3
  except:
    - schedules
    - triggers

# Docker build 
include: '/docker/.gitlab-ci.yml'

