stages:
- test
- build
- docker
- deploy
- release

#-----------------
# Tests
#-----------------

.tests:
  stage: test
  script:
    - make docker-test FLAVOR=$QGIS_FLAVOR
  only:
    changes:
      - pyqgiswps/**/*
      - tests/**/*
      - "*.sh"
      - Makefile
      - "setup.*"
      - "requirements.*"
  tags:
    - infrav3
  artifacts:
    reports:
        junit: tests/unittests/__output__/junit.xml

test:ltr:
  extends: .tests
  variables:
    QGIS_FLAVOR: ltr

test:release:
  extends: .tests
  variables:
    QGIS_FLAVOR: release

#---------------
# Build
#---------------

build:
  stage: build
  script:
    - make dist deliver
  environment:
    name: snap
  only:
    changes:
      - pyqgiswps/**/* 
      - "setup.*"
      - requirements.txt
      - MANIFEST.in
    refs:
      - master
  tags:
    - infrav3
  except:
    - schedules
    - triggers

# Docker build 
include: '/docker/.gitlab-ci.yml'

