
variables:
    FACTORY_MANIFEST: "docker/factory.manifest"

.only_refs: &only_refs
  refs:
    - tags
    - master

#-------------
# Build
#-------------

.build-docker:
  image: ${REGISTRY_URL}/factory-ci-runner:build-package
  stage: docker
  script:
    - make version
    - make -C docker build deliver pushrc clean FLAVOR=$QGIS_FLAVOR
  environment:
    name: snap
  artifacts:
    paths:
      - "docker/factory-${QGIS_FLAVOR}.manifest"
  only:
    <<: *only_refs 
  tags:
    - factory-dind

build-docker:release:
  extends: .build-docker
  variables:
    QGIS_FLAVOR: release

build-docker:ltr:
  extends: .build-docker
  variables:
    QGIS_FLAVOR: ltr

build-docker:3.28:
  extends: .build-docker
  variables:
    QGIS_FLAVOR: "3.28"

#-------------
# deploy
#-------------

deploy:snap:
  image: ${REGISTRY_URL}/factory-ci-runner:build-package
  stage: deploy
  script:
    - $FACTORY_SCRIPTS/update-service wps
  environment:
    name: snap
  only:
    <<: *only_refs
  tags:
    - factory-plain

#-------------
# Release
#-------------

.release:
  image: ${REGISTRY_URL}/factory-ci-runner:build-package
  stage: release
  script:
    - release-image qgis-wps-server-$QGIS_FLAVOR
    - push-to-docker-hub --clean
  environment:
    name: production
  when: manual
  allow_failure: false
  only:
    refs:
      - tags
  tags:
    - factory-dind
  variables:
    FACTORY_MANIFEST: "docker/factory-${QGIS_FLAVOR}.manifest"

release:release:
  extends: .release
  variables:
    QGIS_FLAVOR: release
  dependencies:
    - build-docker:release

release:ltr:
  extends: .release
  variables:
    QGIS_FLAVOR: ltr
  dependencies:
    - build-docker:ltr

release:3.28:
  extends: .release
  variables:
    QGIS_FLAVOR: "3.28"
  dependencies:
    - build-docker:3.28

