
variables:
    FACTORY_MANIFEST: "docker/factory.manifest"
    QGIS_FLAVOR: ltr

.only_refs: &only_refs
  refs:
    - tags
    - "1.4.x"

#-------------
# Build
#-------------

build-docker:
  stage: docker
  script:
    - make -C docker build deliver clean FLAVOR=$QGIS_FLAVOR
  environment:
    name: snap
  artifacts:
    paths:
      - "docker/factory.manifest"
  only:
    <<: *only_refs 
  tags:
    - infrav3

#-------------
# deploy
#-------------

deploy:snap:
  stage: deploy
  script:
    - $HOME/bin/lzmservicectl update -C MUTU wps --annotate="Updated image ($CI_COMMIT_SHORT_SHA)"
  environment:
    name: snap
  only:
    <<: *only_refs 
  tags:
    - infrav3

#-------------
# Release
#-------------

release:
  stage: release
  script:
    - $FACTORY_SCRIPTS/release-image.sh qgis-wps-server-$QGIS_FLAVOR
    - $FACTORY_SCRIPTS/push-to-docker-hub.sh --clean
  environment:
    name: production
  when: manual
  only:
    refs:
      - tags
  tags:
    - infrav3

