
variables:
    FACTORY_MANIFEST: "docker/factory.manifest"

#-------------
# Build
#-------------

.docker-build:
  stage: docker
  script:
    - build -C docker deliver clean FLAVOR=$QGIS_FLAVOR
    - $FACTORY_SCRIPTS/push-to-docker-hub.sh --clean
  environment:
    name: snap
  artifacts:
    paths:
      - "docker/factory.manifest"
  only:
    refs:
      - master
  tags:
    - infrav3

build-docker:ltr:
  extends: .docker-build
  variables:
    QGIS_FLAVOR: ltr

build-docker:release:
  extends: .docker-build
  variables:
    QGIS_FLAVOR: release

#-------------
# deploy
#-------------

deploy:snap:
  stage: deploy
  script:
    - $HOME/bin/lzmservicectl update -C MUTU wps --annotate="Updated image ($CI_COMMIT_SHORT_SHA)"
  environment:
    name: snap
  only:
    refs:
      - master
  tags:
    - infrav3

#-------------
# Release
#-------------

.docker-release:
  stage: release
  script:
    - $FACTORY_SCRIPTS/release-image.sh qgis-wps-server-$QGIS_FLAVOR
  environment:
    name: production
  when: manual
  only:
    refs:
      - master
  tags:
    - infrav3

release:ltr:
  extends: .docker-release
  dependencies:
    - build-docker:ltr
  variables:
    QGIS_FLAVOR: ltr

release:release:
  extends: .docker-release
  dependencies:
    - build-docker:release
  variables:
    QGIS_FLAVOR: release


