/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
  background-color: #eee;
}

/*
 * CSS widgets
 */
.data-label::after {
    content: attr(data-value);
}


/*
 * Progress bar
 */
.progress-bar::after {
    content: attr(aria-valuenow)"%";
}

/*
 * Processe rows
 */ 

.pr-row {
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  background-color: white;
}

/* Fix progress bar */
.pr-progress {
  margin-top: 4px;
  display: none;
}

/* Align childs in the center of the row */
.pr-row > .col {
  padding-top: 10px;
}

.pr-st-box {
  height: 50px;
  padding-left: 8px;
  padding-right: 5px;
  border-right: 1px solid #ddd;
  width: 35px;
}

.pr-action-btns {
  border-left: 1px solid #ddd;
  padding-top: 10px;
}

.small-text {
  font-size: 0.8em;
  padding-top: 4px;
}

/*
 * Status
 */

.pr-row[status="run"] .pr-st-btn {
  background-color: white;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 18px;
  height: 18px;
  margin-top: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.finish-label {
    display: none;
}

[status="run"] .pr-progress {
    display: block;
}

/* status error */
[status="error"] .pr-st-box {
  background-color: rgb(220,0,0);
}

[status="error"] .finish-label {
    display: block;
}
 
[status="error"] .pr-st-btn {
  background-color: white;
  mask-image: url("octicons/lib/svg/alert.svg");
  mask-repeat: no-repeat;
  mask-size: 1em;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  width: 1.5em;
  height: 1.5em;
  -webkit-mask-image: url("octicons/lib/svg/alert.svg");
  -webkit-mask-repeat:  no-repeat;
  -webkit-mask-size: 1em;
}

/* status ok */
[status="done"] .pr-st-box {
  background-color: rgb(0,220,0);
}

[status="done"] .finish-label {
    display: block;
}

[status="done"] .pr-st-btn {
  background-color: white;
  mask-image: url("octicons/lib/svg/check.svg");
  mask-repeat: no-repeat;
  mask-size: 1em;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  width: 1.5em;
  height: 1.5em;
  -webkit-mask-image: url("octicons/lib/svg/check.svg");
  -webkit-mask-repeat:  no-repeat;
  -webkit-mask-size: 1em;
}

/* status wait */
[status="wait"] .pr-st-box {
  background-color: rgb(220,220,0);
}

[status="wait"] [name="start-date"]::after {
  content: "waiting";
}

[status="wait"] .pr-st-btn {
  background-color: white;
  mask-image: url("octicons/lib/svg/issue-opened.svg");
  mask-repeat: no-repeat;
  mask-size: 1em;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  width: 1.5em;
  height: 1.5em;
  -webkit-mask-image: url("octicons/lib/svg/issue-opened.svg");
  -webkit-mask-repeat:  no-repeat;
  -webkit-mask-size: 1em;
}


.pr-trash-btn:hover {
    cursor:pointer;
}

/*
 * Hide template row
 */

#pr-template {
    display: none !important;
}

/*
 * Details
 */

.row-details {
    background-color: white;

}

.pr-details-pane {
    background-color: white;
}
